<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />


<footer style="background-color: black; color: white; padding: 10px;">
  <div style="display: flex; align-items: center;">
    <a class="navbar-brand mx-2" routerLink="/">
      <div class="logo rounded">
        <div class="overlay"></div>
        <span class="logo-text">&#923;lumni</span>
      </div>
    </a>
    <div style="flex: 1;">&copy; 2023 Alumni Association</div>
    <div>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook" style="color: white; margin-right: 10px;"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"
          style="color: white; margin-right: 10px;"></i></a>
      <a href="https://twitter.com/"><i class="fab fa-twitter" style="color: white;"></i></a>
    </div>
  </div>
</footer>