.career {
    background-color: #E7E5DF;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/pictures for carrer section/job.jpg");
    /* Set a specific height */
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Place text in the middle of the image */

.hero-text {
    text-align: center;
    top: 70%;
    left: 50%;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

.career {
    background-color: #E7E5DF;
}